.FinderWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Finder {
  display: flex;
  flex-flow: row nowrap;
  border: thin black solid;
  font-size: 12px;
  height: 30em;
}

.Info {
  padding: 1em;
  border-left: thin black solid;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow-y: auto;
  flex: 1;
}

.InfoTitle {
  font-weight: bold;
  font-size: 1.5em;
}

.InfoType {
  font-style: italic;
}

.Name {
  font-weight: bold;
}

.Columns {
  display: flex;
  flex-flow: row nowrap;
  flex: 2;
  overflow-x: auto;
}

.Column {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 15em;
  min-width: 15em;
  border-right: thin #0002 solid;
  overflow-y: auto;
}

.Property {
  padding: 0.25em 0.5em;
}

.Property:hover,
.Property:focus {
  cursor: pointer;
  background: #0003;
}

.PropertyPath {
  background: #0001;
}

.PropertyHasChildren::after {
  content: '>';
  float: right;
}

.PropertyPathLast.PropertyPathLast.PropertyPathLast {
  background: #000a;
  color: white;
  font-weight: bold;
  cursor: default;
}

.Breadcrumbs {
  display: flex;
  flex-flow: row nowrap;
  border: thin black solid;
  overflow-x: auto;
}

.Breadcrumb {
  cursor: pointer;
  padding: 0.25em 0.5em;
  position: relative;
  display: flex;
  align-items: center;
  border-right: solid thin black;
}

.Breadcrumb:hover,
.Breadcrumb:focus {
  background: #0003;
}

.Breadcrumb::before {
  content: '.';
}

.Breadcrumb:first-child::before {
  content: '';
}
